/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body and background */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #020024, #790973, #005bff);
    background-attachment: fixed ;
    color: white;
}

/* Navbar styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(135deg, #4e4376, #2e3c6f);
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 0;
    z-index: 1000;
}

/* Menu styling */
.navbar-menu {
    list-style: none;
    display: flex;
    padding-left: 0;
}

.navbar-menu li {
    margin-left: 20px;
}

.navbar-menu li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: color 0.3s, transform 0.3s ease-in-out;
    position: relative;
}

/* Hover effect */
.navbar-menu li a:hover {
    color: #74ebd5;
    transform: translateY(-5px);
}

/* Active link styling */
.navbar-menu li a.active {
    color: #74ebd5;
    font-weight: bold;
}

/* Responsive navbar */
@media (max-width: 768px) {
    .navbar-menu {
        display: none;
        width: 100%;
        justify-content: center;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #333;
        flex-direction: column;
        padding: 10px 0;
    }

    .navbar-menu li {
        margin: 15px 0;
    }

    /* Show menu when navbar is active */
    .navbar.active .navbar-menu {
        display: flex;
    }
}

/* Container styling */
.container {
    text-align: center;
    margin-top: 100px;
}

.pp {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin-top: -70px;
    border: 3px solid #74ebd5;
}

h2 {
    margin: 20px 0 10px;
    font-size: 28px;
}

.description {
    color: #b0b0b0;
    margin-top: -10px;
    font-size: 18px;
}

.brief {
    margin-top: 50px;
    padding: 30px;
    width: 90%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    background: rgba(0, 0, 0, 0.7); /* Transparansi untuk menyatu dengan background */
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
    color: #ffffff;
    text-align: center;
    line-height: 1.8;
}

.brief-title {
    font-size: 26px;
    font-weight: bold;
    color: #74ebd5;
    margin-bottom: 10px;
}

.divider {
    border: 0;
    height: 2px;
    background: linear-gradient(90deg, #74ebd5, #ACB6E5);
    margin: 15px 0;
}

.skills {
    margin-top: 20px;
    text-align: left;
}

.skills h3 {
    color: #74ebd5;
    font-size: 22px;
    margin-bottom: 10px;
    text-align: center;
}

.skills ul {
    list-style: none;
    padding: 0;
}

.skills ul li {
    margin-bottom: 10px;
    padding-left: 20px;
    position: relative;
}

.skills ul li::before {
    content: '✔';
    position: absolute;
    left: 0;
    color: #74ebd5;
    font-weight: bold;
}
